# Internal Clock
NET "CLK" LOC = "C9"  | IOSTANDARD = LVCMOS33 ;
# Push-Button Switches
NET "BTN_EAST"  LOC = "H13" | IOSTANDARD = LVTTL | PULLDOWN ;
NET "BTN_NORTH" LOC = "V4"  | IOSTANDARD = LVTTL | PULLDOWN ;
NET "BTN_SOUTH" LOC = "K17" | IOSTANDARD = LVTTL | PULLDOWN ;
NET "BTN_WEST"  LOC = "D18" | IOSTANDARD = LVTTL | PULLDOWN ;
# Rotary Push-Button Switch
NET "ROT_A"      LOC = "K18" | IOSTANDARD = LVTTL | PULLUP   ;
NET "ROT_B"      LOC = "G18" | IOSTANDARD = LVTTL | PULLUP   ;
NET "ROT_CENTER" LOC = "V16" | IOSTANDARD = LVTTL | PULLDOWN ;
# 7-Segment Displays
NET "J1<0>"  LOC = "B4" | IOSTANDARD = LVTTL  | SLEW = SLOW  | DRIVE = 6 ;
NET "J1<1>"  LOC = "A4" | IOSTANDARD = LVTTL  | SLEW = SLOW  | DRIVE = 6 ;
NET "J1<2>"  LOC = "D5" | IOSTANDARD = LVTTL  | SLEW = SLOW  | DRIVE = 6 ;
NET "J1<3>"  LOC = "C5" | IOSTANDARD = LVTTL  | SLEW = SLOW  | DRIVE = 6 ;
NET "J2<0>"  LOC = "A6" | IOSTANDARD = LVTTL  | SLEW = SLOW  | DRIVE = 6 ;
NET "J2<1>"  LOC = "B6" | IOSTANDARD = LVTTL  | SLEW = SLOW  | DRIVE = 6 ;
NET "J2<2>"  LOC = "E7" | IOSTANDARD = LVTTL  | SLEW = SLOW  | DRIVE = 6 ;
NET "J2<3>"  LOC = "F7" | IOSTANDARD = LVTTL  | SLEW = SLOW  | DRIVE = 6 ;